.color- {
  &lightred {
    color: var(--ks-lightred);
  }
  &darkred {
    color: var(--ks-darkred);
  }
  &darkblue {
    color: var(--ks-darkblue);
  }
  &mango {
    color: var(--ks-mango);
  }
  &brightpurple {
    color: var(--ks-brightpurple);
  }
  &gray {
    color: var(--ks-gray);
  }
  &green {
    color: var(--ks-green);
  }
  &red {
    color: var(--ks-red);
  }
  &blue {
    color: var(--ks-blue);
  }
  &grey-1 {
    color: var(--grey-1);
  }
  &grey-2 {
    color: var(--grey-2);
  }
  &grey-3 {
    color: var(--grey-3);
  }
  &grey-4 {
    color: var(--grey-4);
  }
  &grey-5 {
    color: var(--grey-5) !important;
  }
  &grey-6 {
    color: var(--grey-6) !important;
  }
  &grey-7 {
    color: var(--grey-7) !important;
  }
}

.bg- {
  &lightred {
    background-color: var(--ks-lightred);
  }
  &darkred {
    background-color: var(--ks-darkred);
  }
  &darkblue {
    background-color: var(--ks-darkblue);
  }
  &mango {
    background-color: var(--ks-mango);
  }
  &brightpurple {
    background-color: var(--ks-brightpurple);
  }
  &gray {
    background-color: var(--ks-gray);
  }
  &green {
    background-color: var(--ks-green);
  }
  &red {
    background-color: var(--ks-red);
  }
  &blue {
    background-color: var(--ks-blue);
  }
  &grey-1 {
    background-color: var(--grey-1);
  }
  &grey-2 {
    background-color: var(--grey-2);
  }
  &grey-3 {
    background-color: var(--grey-3);
  }
  &grey-4 {
    background-color: var(--grey-4);
  }
  &grey-5 {
    background-color: var(--grey-5) !important;
  }
  &grey-6 {
    background-color: var(--grey-6) !important;
  }
  &grey-7 {
    background-color: var(--grey-7) !important;
  }
}
