.form-floating {
  input {
    &.is-invalid {
      &:focus {
        box-shadow: none;
      }
    }
  }
  label {
    color: var(--grey-2);
  }
  .form-select {
    padding-top: 1.1rem;
    padding-bottom: 0.325rem;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m17 8.5 1.5 1.5-6.5 6.5L5.5 10 7 8.5l5 5z' fill='%23000' fill-rule='evenodd' fill-opacity='.25'/%3E%3C/svg%3E%0A");
    background-size: 24px 24px;
  }

  textarea {
    padding-top: 1.1rem !important;
  }
}

.form-check {
  input {
    &[type='radio'] {
      &:checked {
        background-size: 84%;
        background-position: center;
        border-color: var(--grey-3);
        background-color: var(--white);
      }
    }

    &[type='radio'] {
      &:checked {
        background-size: 84%;
        background-position: center;
        border-color: var(--grey-3);
        background-color: var(--white);
      }
    }
  }
}
.form-switch {
  padding-left: 56px;
  height: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  input {
    width: 56px !important;
    height: 24px;
    margin-left: -56px !important;
    margin-bottom: 4px;
    margin-right: 16px;
    &:not(:checked) {
      &:focus {
        border-color: var(--grey-3);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23afafaf'/%3e%3c/svg%3e") !important;
      }
    }
  }

  label {
    margin-bottom: 2px;
  }
}

.form-text-switch {
  overflow: hidden;
  display: inline-flex;
  justify-content: space-between;
  border: 2px solid var(--ks-brightpurple);
  &,
  input,
  input:after {
    border-radius: 50px;
  }
  input {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
    color: var(--ks-brightpurple);
    padding: 1.5px 16px;
    margin: 0;
    width: 100%;
    height: 100%;
    border: 0;
    transition: color 0.4s;
    &:focus-visible {
      outline: none;
    }
    &:before {
      content: attr(data-label);
      position: relative;
      z-index: 1;
      font-size: 14px;
    }
    &:after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: var(--ks-brightpurple);
      transition: left 0.4s;
    }
    &:first-child:after {
      left: 100%;
    }
    &:last-child:after {
      left: -100%;
    }
    &:checked {
      color: var(--white);
      font-weight: 600;
      &:after {
        left: 0;
      }
    }
  }
}
