body,
html {
  &.unscroll {
    display: block;
    position: absolute;
    width: 100%;
    height: 600px;
    overflow: hidden !important;
    overflow-y: hidden;
    touch-action: none;
    -ms-touch-action: none;
  }
}

.page-header {
  position: relative;
  padding-left: 24px;
  &::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 10px;
    bottom: 4px;
    width: 3px;
    background-color: var(--ks-brightpurple);
  }
}

.border-dotted {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23333' stroke-width='1' stroke-dasharray='4%2c 5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 8px;
  background-size: calc(100% - 0.01px);
}

.d-grid {
  &.fr-1 {
    grid-template-columns: 1fr;
  }
  &.fr-2 {
    grid-template-columns: 1fr 1fr;
  }
  &.fr-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  &.fr-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  &.fr-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  &.fr-6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
