<!--/ POD -->
<td>
  <div class="d-flex flex-column justify-content-center cell-inner">{{ pod.podName }}</div>
</td>

<!--/ NODE -->
<td>
  <div class="d-flex flex-column justify-content-center cell-inner">
    <span>{{ pod.namespace }}</span>
    <span class="color-grey-2 font-size-small">{{ pod.node }}</span>
  </div>
</td>

<!--/ EXTERNAL -->
<td>
  <div class="d-flex flex-column justify-content-center cell-inner">
    {{ pod.transmitBytes - pod.localTransmitBytes | formatBytes }} /
    {{ pod.receivedBytes - pod.localReceivedBytes | formatBytes }}
  </div>
</td>

<!--/ INTERNAL -->
<td>
  <div class="d-flex flex-column justify-content-center cell-inner">
    {{ pod.localTransmitBytes | formatBytes }} / {{ pod.localReceivedBytes | formatBytes }}
  </div>
</td>

<!--/ AGE -->
<td>
  <div class="d-flex flex-column justify-content-center cell-inner">{{ startTime }} d</div>
</td>

<!--/ CONNECTIONS -->
<td>
  <div class="d-flex flex-column justify-content-center cell-inner">{{ connections }}</div>
</td>

<!--/ TRAFFIC -->
<td>
  <div class="d-flex flex-column justify-content-center cell-inner chart">
    <lox-dashboard-pod-list-item-chart [key]="key"></lox-dashboard-pod-list-item-chart>
  </div>
</td>
