.cell-inner {
  min-height: 100px;
  height: 100%;
  line-height: 1.2em;

  &.chart {
    height: 50px;
    width: 250px;
  }

  &.pod-name,
  &.namespace {
    min-width: 0px;
    max-width: 250px;
  }
}
