<!--/ POD -->
<td><div class="d-flex flex-column justify-content-center cell-inner">mogenius-redis-5ffg98-3222-fa</div></td>

<!--/ NODE -->
<td>
  <div class="d-flex flex-column justify-content-center cell-inner">
    <span>Podloxx</span>
    <span class="color-grey-2 font-size-small">(NODENAME-mastjam2f-5ffg98-3222-fa)</span>
  </div>
</td>

<!--/ EXTERNAL -->
<td><div class="d-flex flex-column justify-content-center cell-inner">365 / 128 b</div></td>

<!--/ INTERNAL -->
<td><div class="d-flex flex-column justify-content-center cell-inner">365 / 128 b</div></td>

<!--/ AGE -->
<td><div class="d-flex flex-column justify-content-center cell-inner">17 d</div></td>

<!--/ CONNECTIONS -->
<td><div class="d-flex flex-column justify-content-center cell-inner">3</div></td>

<!--/ TRAFFIC -->
<td>
  <div class="d-flex flex-column justify-content-center cell-inner">
    <lox-dashboard-pod-list-item-chart></lox-dashboard-pod-list-item-chart>
  </div>
</td>
