<div class="d-grid fr-4 gap-4 mb-5">
  <lox-status-tile [value]="3" suffix="mb" tileName="Total Count"></lox-status-tile>
  <lox-status-tile [value]="3" suffix="mb" tileName="Total Count"></lox-status-tile>

  <lox-status-tile [value]="3" suffix="mb" tileName="Total Count"></lox-status-tile>

  <lox-status-tile [value]="3" suffix="mb" tileName="Total Count"></lox-status-tile>

  <lox-status-tile [value]="3" suffix="mb" tileName="Total Count"></lox-status-tile>

  <lox-status-tile [value]="3" suffix="mb" tileName="Total Count"></lox-status-tile>

  <lox-status-tile [value]="3" suffix="mb" tileName="Total Count"></lox-status-tile>

  <lox-status-tile [value]="3" suffix="mb" tileName="Total Count"></lox-status-tile>
  <!--
  <div class="shadow d-flex flex-column p-3 rounded">
    <span class="font-weight-light color-grey-3">Total selected pods</span>
    <span class="font-size-xlarge">{{ totalPods }}</span>
  </div>
  <div class="shadow d-flex flex-column p-3 rounded">
    <span class="font-weight-light color-grey-3">Total Transmitted</span>
    <span class="font-size-xlarge">{{ totalTransmitted | formatBytes }}</span>
  </div>
  <div class="shadow d-flex flex-column p-3 rounded">
    <span class="font-weight-light color-grey-3">Total Received</span>
    <span class="font-size-xlarge">{{ totalReceived | formatBytes }}</span>
  </div>
  <div class="shadow d-flex flex-column p-3 rounded">
    <span class="font-weight-light color-grey-3">Total Received</span>
    <span class="font-size-xlarge">{{ totalReceived | formatBytes }}</span>
  </div> -->
</div>
