<div class="d-grid fr-4 gap-4 mb-5">
  <lox-status-tile [value]="overviewData?.packetsSum" suffix="" tileName="Total Packets"></lox-status-tile>
  <lox-status-tile [value]="overviewData?.totalNamespaces" suffix="" tileName="Total Naemspaces"></lox-status-tile>

  <lox-status-tile [value]="overviewData?.totalNodes" suffix="" tileName="Total Nodes"></lox-status-tile>

  <lox-status-tile [value]="overviewData?.totalPods" suffix="" tileName="Total Pods"></lox-status-tile>

  <lox-status-tile
    [value]="overviewData?.localReceivedBytes | formatBytes"
    suffix=""
    tileName="Local received"
  ></lox-status-tile>

  <lox-status-tile
    [value]="overviewData?.localTransmitBytes | formatBytes"
    suffix=""
    tileName="Local transmitted"
  ></lox-status-tile>

  <lox-status-tile
    [value]="overviewData?.receivedBytes | formatBytes"
    suffix=""
    tileName="Total transmitted"
  ></lox-status-tile>

  <lox-status-tile
    [value]="overviewData?.transmitBytes | formatBytes"
    suffix=""
    tileName="Total received"
  ></lox-status-tile>
  <!--
  <div class="shadow d-flex flex-column p-3 rounded">
    <span class="font-weight-light color-grey-3">Total selected pods</span>
    <span class="font-size-xlarge">{{ totalPods }}</span>
  </div>
  <div class="shadow d-flex flex-column p-3 rounded">
    <span class="font-weight-light color-grey-3">Total Transmitted</span>
    <span class="font-size-xlarge">{{ totalTransmitted | formatBytes }}</span>
  </div>
  <div class="shadow d-flex flex-column p-3 rounded">
    <span class="font-weight-light color-grey-3">Total Received</span>
    <span class="font-size-xlarge">{{ totalReceived | formatBytes }}</span>
  </div>
  <div class="shadow d-flex flex-column p-3 rounded">
    <span class="font-weight-light color-grey-3">Total Received</span>
    <span class="font-size-xlarge">{{ totalReceived | formatBytes }}</span>
  </div> -->
</div>
