<span class="tile-type color-grey-3">{{ tileName }}</span>
<div class="value d-flex align-items-center justify-content-center">
  <span class="color-deepteal h4 font-weight-semibold">
    {{ valueIn }}
    <span class="format-name color-grey-3 font-weight-light">{{ suffixIn }}</span>
  </span>
  <div class="vertical-line mx-2"></div>
  <span class="color-deepteal h4 font-weight-semibold">
    {{ valueOut }}
    <span class="format-name color-grey-3 font-weight-light">{{ suffixOut }}</span>
  </span>
</div>
