:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 16px;

  .value {
    height: 80px;
  }

  .vertical-line {
    background-color: var(--grey-3);
    width: 2px;
    height: 50%;
  }
}
