<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="active">
          <div class="d-flex align-items-center">
            POD
            <i class="fa fa-chevron-down ms-2 font-size-xxsmall" aria-hidden="true"></i>
          </div>
        </th>
        <th scope="col">
          <div class="d-flex align-items-center">
            NAMESPACE
            <br />
            (NODE)
            <i class="fa fa-chevron-down ms-2 font-size-xxsmall" aria-hidden="true"></i>
          </div>
        </th>
        <th scope="col">
          <div class="d-flex align-items-center">
            External
            <br />
            (TX/RX)
            <i class="fa fa-chevron-down ms-1 font-size-xsmall" aria-hidden="true"></i>
          </div>
        </th>
        <th scope="col">
          <div class="d-flex align-items-center">
            Internal
            <i class="fa fa-chevron-down ms-1 font-size-xsmall" aria-hidden="true"></i>
          </div>
        </th>
        <th scope="col">
          <div class="d-flex align-items-center">
            Age
            <i class="fa fa-chevron-down ms-1 font-size-xsmall" aria-hidden="true"></i>
          </div>
        </th>
        <th scope="col">
          <div class="d-flex align-items-center">
            Connections
            <i class="fa fa-chevron-down ms-1 font-size-xsmall" aria-hidden="true"></i>
          </div>
        </th>
        <th scope="col">
          <div class="d-flex align-items-center">
            Traffic
            <i class="fa fa-chevron-down ms-1 font-size-xsmall" aria-hidden="true"></i>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr lox-dashboard-pod-list-item></tr>
    </tbody>
  </table>
</div>
